* {
    outline: 1px solid red;
}

#box_container {
    height: 589px;
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-rows: 40px auto 80px;
    grid-template-areas: 
    "header"
    "search_bar"
    "footer";
}

#header {
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

li {
    float: left;
    display: inline;
}

li a {
    display: block;
    padding: 8px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: rgba(0,0,0,.54);
}


#content_container {
    
}

#footer_container {
    display: grid;
}

#box_footer_1 {
    display: flex;
}

#box_footer_2 {
    
}